* {
  margin: 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 1rem;
  width: 150px;
}

.image-wrapper {
  display: flex;
  align-items: flex-end;
  height: 150px;
  width: 100%;
}

.sign-image {
  width: 100%;
}

.sign-number {
  text-align: center;
}

.sign-name {
  word-wrap: break-word;
}
